@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap");
.ninjachat-default,
.ninjachat-default h1,
.ninjachat-default h2,
.ninjachat-default h3,
.ninjachat-default h4,
.ninjachat-default h5,
.ninjachat-default h6,
.ninjachat-default p,
.ninjachat-default td,
.ninjachat-default dl,
.ninjachat-default tr,
.ninjachat-default dt,
.ninjachat-default ol,
.ninjachat-default form,
.ninjachat-default select,
.ninjachat-default option,
.ninjachat-default pre,
.ninjachat-default div,
.ninjachat-default table,
.ninjachat-default th,
.ninjachat-default tbody,
.ninjachat-default tfoot,
.ninjachat-default caption,
.ninjachat-default thead,
.ninjachat-default ul,
.ninjachat-default li,
.ninjachat-default address,
.ninjachat-default blockquote,
.ninjachat-default dd,
.ninjachat-default fieldset,
.ninjachat-default li,
.ninjachat-default iframe,
.ninjachat-default strong,
.ninjachat-default legend,
.ninjachat-default em,
.ninjachat-default s,
.ninjachat-default cite,
.ninjachat-default span,
.ninjachat-default input,
.ninjachat-default sup,
.ninjachat-default label,
.ninjachat-default dfn,
.ninjachat-default object,
.ninjachat-default big,
.ninjachat-default q,
.ninjachat-default font,
.ninjachat-default samp,
.ninjachat-default acronym,
.ninjachat-default small,
.ninjachat-default img,
.ninjachat-default strike,
.ninjachat-default code,
.ninjachat-default sub,
.ninjachat-default ins,
.ninjachat-default textarea,
.ninjachat-default var,
.ninjachat-default a,
.ninjachat-default abbr,
.ninjachat-default applet,
.ninjachat-default del,
.ninjachat-default kbd,
.ninjachat-default tt,
.ninjachat-default b,
.ninjachat-default i,
.ninjachat-default hr,
.ninjachat-default article,
.ninjachat-default aside,
.ninjachat-default dialog,
.ninjachat-default figure,
.ninjachat-default footer,
.ninjachat-default header,
.ninjachat-default hgroup,
.ninjachat-default menu,
.ninjachat-default nav,
.ninjachat-default section,
.ninjachat-default time,
.ninjachat-default mark,
.ninjachat-default audio,
.ninjachat-default video {
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  outline: 0 !important;
  box-sizing: content-box !important;
  -webkit-font-smoothing: antialiased !important;
  line-height: 1.5 !important;
}
.ninjachat-default .ninjachat-icon {
  position: fixed !important;
  right: 20px !important;
  bottom: 15px !important;
  cursor: pointer !important;
  z-index: 1000 !important;
  transition: 0.7s;
  width: 60px !important;
  height: 60px !important;
}
.ninjachat-default .ninjachat-chat {
  background-color: rgb(255, 255, 255) !important;
  position: fixed !important;
  right: 20px !important;
  bottom: 90px !important;
  border-radius: 10px !important;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 20px;
  z-index: 9999 !important;
  font-family: "Lato", sans-serif !important;
}
.ninjachat-default .ninjachat-lato {
  font-family: "Lato", sans-serif !important;
}
.ninjachat-default .ninjachat-header-profile-section {
  height: auto !important;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  padding: 14px 20px !important;
}
.ninjachat-default .ninjachat-profile-pic-section {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}
.ninjachat-default .ninjachat-profile-flex {
  display: flex !important;
  align-items: center !important;
}
.ninjachat-default .ninjachat-gravatar {
  width: 35px !important;
  height: 35px !important;
  background-color: #fff;
  padding: 1px !important;
  border-radius: 50% !important;
}
.ninjachat-default .ninjachat-chevron-left {
  margin-top: 5px !important;
  width: 24px !important;
  height: 24px !important;
  opacity: 0.85;
}
.ninjachat-default .ninjachat-bot-name,
.ninjachat-default .ninjachat-bot-conv-name {
  margin: 0px 0px 0px 10px !important;
  color: rgb(255, 255, 255) !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 1.2 !important;
}
.ninjachat-default .ninjachat-contact-icons {
  display: flex !important;
  align-items: center !important;
}
.ninjachat-default .ninjachat-contact-icons .icons {
  width: 24px !important;
  height: 24px !important;
  border-radius: 50% !important;
  background: rgb(255 255 255 / 18%) !important;
  margin-left: 10px !important;
  cursor: pointer !important;
}
.ninjachat-default .ninjachat-bot-description {
  margin: 1px 0px 0px 10px !important;
  color: rgb(255, 255, 255, 0.85) !important;
  font-size: 10.5px !important;
  font-weight: 300 !important;
  letter-spacing: 0.1px !important;
}
.ninjachat-default .ninjachat-history-icon-bg {
  width: 30px !important;
  height: 30px !important;
  border-radius: 50% !important;
  background-color: rgb(198 205 247 / 34%) !important;
  margin-left: 10px !important;
}
.ninjachat-default .ninjachat-history-icon-bg:hover {
  background-color: rgb(219 224 255 / 43%) !important;
}
.ninjachat-default .ninjachat-history-icon {
  width: 20px !important;
  height: 20px !important;
  cursor: pointer !important;
  position: absolute;
  right: 26px !important;
  top: 23px !important;
}
.ninjachat-default .ninjachat-min-height-welcome {
  min-height: 200px !important;
  padding: 25px !important;
  background-repeat: no-repeat !important;
}
.ninjachat-default .ninjachat-welcome-box {
  margin-bottom: 10px !important;
}
.ninjachat-default .ninjachat-welcome-bg {
  background: rgb(245, 245, 245) !important;
  padding: 16px !important;
  border-radius: 14px !important;
  border-bottom-right-radius: 2px !important;
}
.ninjachat-default .ninjachat-welcome-message {
  margin: 0px !important;
  align-items: center !important;
  display: flex !important;
  line-height: 1.5 !important;
  letter-spacing: 0.1px !important;
  font-weight: 400 !important;
}
.ninjachat-default .ninjachat-bg-img-section {
  padding: 25px !important;
  background-repeat: no-repeat !important;
  overflow: auto !important;
  max-height: 300px !important;
  background-size: cover;
}
.ninjachat-default .chat-body-height {
  min-height: 220px !important;
}
.ninjachat-default .body-scroll::-webkit-scrollbar {
  width: 5px !important;
}
.ninjachat-default .body-scroll::-webkit-scrollbar-thumb {
  background: #e0e0e0 !important;
  border-radius: 5px !important;
}
.ninjachat-default .body-scroll::-webkit-scrollbar-track {
  box-shadow: inset 20px 20px 20px #fff !important;
  border-radius: 0px !important;
}
.ninjachat-default .ninjachat-default-comment-section-replay {
  margin: 8px 0px !important;
}
.ninjachat-default .ninjachat-bg-reply-default {
  width: fit-content !important;
  word-break: break-word;
  padding: 16px !important;
  border-radius: 14px !important;
  border-bottom-left-radius: 2px !important;
}
.ninjachat-default .margin-zero {
  margin: 0px !important;
  align-items: center !important;
  display: flex !important;
}
.ninjachat-default .margin-zero ul,
.ninjachat-default .margin-zero ol {
  padding-left: 10px !important;
}
.ninjachat-bubble .margin-zero a {
  color: #fff !important;
}
.ninjachat-default .ninjachat-small-2 {
  font-size: 9px !important;
  color: rgb(154 154 154 / 95%) !important;
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}
.ninjachat-default .ninjachat-small-2 .vue-moments-ago {
  font-size: 10px !important;
}
.ninjachat-default .ninjachat-default-comment-section-replay .ninjachat-small-2 {
  text-align: left !important;
}
.ninjachat-default .ninjachat-bg-chat-default {
  width: fit-content !important;
  color: rgb(0, 0, 0);
  background: rgb(245, 245, 245) !important;
  padding: 16px !important;
  border-radius: 14px !important;
  border-bottom-right-radius: 2px !important;
}
.ninjachat-default .ninjachat-avatar-flex {
  display: flex !important;
  align-items: center !important;
  flex-direction: row-reverse !important;
}
.ninjachat-default .align-self-end {
  align-self: flex-end !important;
  margin-right: 5px !important;
}
.ninjachat-default .rounded-avatar {
  border-radius: 6px !important;
  width: 30px !important;
}
.ninjachat-default .ninjachat-default-message-box .ninjachat-small-2 {
  text-align: right;
}
.ninjachat-default .ninjachat-send-img {
  position: absolute !important;
  right: -30px !important;
  bottom: -22px !important;
  width: 20px !important;
  height: 22px !important;
  cursor: pointer !important;
}
.ninjachat-default .ninjachat-footer-500app {
  text-align: center !important;
  padding: 5px 16px !important;
  font-size: 11px !important;
  background-color: #f9fbfd !important;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  border-top: 1px solid #f6f6f9e0 !important;
}
.ninjachat-default .ninjachat-items-center {
  border-top: 1px solid rgb(238, 238, 238) !important;
  padding-top: 8px !important;
  margin: 11px 0px 0px !important;
}
.ninjachat-default .ninjachat-500app-link {
  margin-left: 5px !important;
  z-index: 2 !important;
  cursor: pointer !important;
  color: rgb(48, 71, 236) !important;
  text-decoration: none !important;
}
.ninjachat-default .ninjachat-footer-section {
  background-color: rgb(247, 247, 248) !important;
  padding: 15px 20px !important;
}
.ninjachat-default .ninjachat-footer-icons {
  position: relative !important;
  top: -5px !important;
  display: flex !important;
  align-items: center !important;
  width: 90% !important;
  height: 40px !important;
}
.ninjachat-default .converstion-min-height {
  min-height: 400px !important;
  overflow: auto !important;
  max-height: 300px !important;
}
.ninjachat-default .converstion-min-height .empty-state {
  padding: 30px !important;
  text-align: center !important;
}
.ninjachat-default .converstion-min-height .empty-state img {
  margin-bottom: 20px !important;
}
.ninjachat-default .datetime .vue-moments-ago {
  font-size: 9px !important;
  color: #95aac9 !important;
}
.ninjachat-default .heading-text {
  margin: 0px !important;
  cursor: pointer !important;
  font-size: 13px !important;
  line-height: 0.9 !important;
}
.ninjachat-default .convlist-img {
  width: 28px !important;
  height: 28px !important;
  border-radius: 50% !important;
  margin-right: 12px !important;
}
.ninjachat-default .convlist {
  display: flex !important;
  align-items: center !important;
}
.ninjachat-default .conv-border-bottom {
  border-bottom: 1px solid #f1f1f1 !important;
  padding: 15px 15px !important;
}
.ninjachat-default .heart-icon {
  margin-left: 5px !important;
  margin-top: 2px !important;
}
.ninjachat-default-comment-section-chat .margin-zero p {
  word-break: break-all !important;
}
.ninjachat-default .ninjachat-chat p span {
  background-color: transparent !important;
  line-height: 1 !important;
}
.ninjachat-default .message-text.text-break,
.ninjachat-default .message-text.text-break p {
  margin: 0px !important;
}
.ninjachat-default .message-animation {
  -webkit-animation: message-animation 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: message-animation 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes message-animation {
  0% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
.ninjachat-animation-default-fade-in-top-enter-active {
  animation: default-fade-in-top;
  animation-duration: 0.35s;
}
@keyframes default-fade-in-top {
  from {
    transform: translate3d(0, 500px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
.ninjachat-animation-default-fade-out-enter-active,
.ninjachat-animation-default-fade-out-leave-active {
  animation: default-fade-out;
  animation-duration: 0.2s;
}
@keyframes default-fade-out {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(0, 500px, 0);
    opacity: 0;
  }
}
.dot-elastic::before {
  width: 3px;
  height: 3px;
  border-radius: 5px;
  background-color: #6d7deb;
  color: #6d7deb;
  animation: dotElasticBefore 1s infinite linear;
}
.dot-elastic::after {
  width: 3px;
  height: 3px;
  border-radius: 5px;
  background-color: #3047ec;
  color: #3047ec;
  animation: dotElasticAfter 1s infinite linear;
}
.dot-elastic::before,
.dot-elastic::after {
  content: "";
  display: inline-block;
  margin-left: 3px !important;
}
.dot-elastic::before {
  margin-left: 5px !important;
}
@keyframes dotElasticBefore {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1.5);
  }
  50% {
    transform: scale(1, 0.67);
  }
  75% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes dotElasticAfter {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 0.67);
  }
  75% {
    transform: scale(1, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
.ninjachat-default-comment-section-chat {
  display: flex;
  justify-content: end;
}
.ninjachat-default .sending {
  font-size: 11px !important;
  display: flex;
  justify-content: end;
  align-items: center;
}
.ninjachat-default .ninjachat-default-comment-section-replay .ninjachat-avatar-flex {
  display: flex !important;
  align-items: center !important;
  flex-direction: row-reverse !important;
  justify-content: flex-end;
}