.ninjachat-ultra,
.ninjachat-ultra h1,
.ninjachat-ultra h2,
.ninjachat-ultra h3,
.ninjachat-ultra h4,
.ninjachat-ultra h5,
.ninjachat-ultra h6,
.ninjachat-ultra p,
.ninjachat-ultra td,
.ninjachat-ultra dl,
.ninjachat-ultra tr,
.ninjachat-ultra dt,
.ninjachat-ultra ol,
.ninjachat-ultra form,
.ninjachat-ultra select,
.ninjachat-ultra option,
.ninjachat-ultra pre,
.ninjachat-ultra div,
.ninjachat-ultra table,
.ninjachat-ultra th,
.ninjachat-ultra tbody,
.ninjachat-ultra tfoot,
.ninjachat-ultra caption,
.ninjachat-ultra thead,
.ninjachat-ultra ul,
.ninjachat-ultra li,
.ninjachat-ultra address,
.ninjachat-ultra blockquote,
.ninjachat-ultra dd,
.ninjachat-ultra fieldset,
.ninjachat-ultra li,
.ninjachat-ultra iframe,
.ninjachat-ultra strong,
.ninjachat-ultra legend,
.ninjachat-ultra em,
.ninjachat-ultra s,
.ninjachat-ultra cite,
.ninjachat-ultra span,
.ninjachat-ultra input,
.ninjachat-ultra sup,
.ninjachat-ultra label,
.ninjachat-ultra dfn,
.ninjachat-ultra object,
.ninjachat-ultra big,
.ninjachat-ultra q,
.ninjachat-ultra font,
.ninjachat-ultra samp,
.ninjachat-ultra acronym,
.ninjachat-ultra small,
.ninjachat-ultra img,
.ninjachat-ultra strike,
.ninjachat-ultra code,
.ninjachat-ultra sub,
.ninjachat-ultra ins,
.ninjachat-ultra textarea,
.ninjachat-ultra var,
.ninjachat-ultra a,
.ninjachat-ultra abbr,
.ninjachat-ultra applet,
.ninjachat-ultra del,
.ninjachat-ultra kbd,
.ninjachat-ultra tt,
.ninjachat-ultra b,
.ninjachat-ultra i,
.ninjachat-ultra hr,
.ninjachat-ultra article,
.ninjachat-ultra aside,
.ninjachat-ultra dialog,
.ninjachat-ultra figure,
.ninjachat-ultra footer,
.ninjachat-ultra header,
.ninjachat-ultra hgroup,
.ninjachat-ultra menu,
.ninjachat-ultra nav,
.ninjachat-ultra section,
.ninjachat-ultra time,
.ninjachat-ultra mark,
.ninjachat-ultra audio,
.ninjachat-ultra video {
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  outline: 0 !important;
  box-sizing: content-box !important;
  -webkit-font-smoothing: antialiased !important;
  line-height: 1.5 !important;
}
.ninjachat-ultra .ninjachat-icon {
  position: fixed !important;
  right: 20px !important;
  bottom: 15px !important;
  cursor: pointer !important;
  z-index: 1000 !important;
  transition: 0.7s;
  width: 60px !important;
  height: 60px !important;
}
.ninjachat-ultra .ninjachat-icon:hover {
  opacity: 0.8 !important;
}
.ninjachat-ultra .ninjachat-icon.arrow {
  animation: spin;
  animation-duration: 1.5s;
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.ninjachat-ultra .ninjachat-chat {
  background-color: rgb(255, 255, 255) !important;
  position: fixed !important;
  right: 50px !important;
  bottom: 90px !important;
  border-radius: 10px !important;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 5px 20px;
  z-index: 9999 !important;
}
.ninjachat-ultra .ninjachat-header-profile-section {
  height: auto !important;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  padding: 14px 20px !important;
}
.ninjachat-ultra .ninjachat-profile-pic-section {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}
.ninjachat-ultra .ninjachat-profile-flex {
  display: flex !important;
  align-items: center !important;
}
.ninjachat-ultra .ninjachat-gravatar {
  width: 35px !important;
  height: 35px !important;
  background-color: #fff;
  padding: 1px !important;
  border-radius: 50% !important;
}
.ninjachat-ultra .ninjachat-chevron-left {
  margin-top: 5px !important;
  width: 24px !important;
  height: 24px !important;
  opacity: 0.85;
}
.ninjachat-ultra .ninjachat-bot-name,
.ninjachat-ultra .ninjachat-bot-conv-name {
  margin: 0px 0px 0px 10px !important;
  color: rgb(255, 255, 255) !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 1.2 !important;
}
.ninjachat-ultra .ninjachat-contact-icons {
  display: flex !important;
  align-items: center !important;
}
.ninjachat-ultra .ninjachat-contact-icons .icons {
  width: 24px !important;
  height: 24px !important;
  border-radius: 50% !important;
  background: rgb(255 255 255 / 18%) !important;
  margin-left: 10px !important;
  cursor: pointer !important;
}
.ninjachat-ultra .ninjachat-bot-description {
  margin: 1px 0px 0px 10px !important;
  color: rgb(255, 255, 255, 0.85) !important;
  font-size: 10.5px !important;
  font-weight: 300 !important;
  letter-spacing: 0.1px !important;
}
.ninjachat-ultra .ninjachat-history-icon-bg {
  width: 30px !important;
  height: 30px !important;
  border-radius: 50% !important;
  background-color: rgb(198 205 247 / 34%) !important;
  margin-left: 10px !important;
}
.ninjachat-ultra .ninjachat-history-icon-bg:hover {
  background-color: rgb(219 224 255 / 43%) !important;
}
.ninjachat-ultra .ninjachat-history-icon {
  width: 20px !important;
  height: 20px !important;
  cursor: pointer !important;
  position: absolute;
  right: 26px !important;
  top: 23px !important;
}
.ninjachat-ultra .ninjachat-min-height-welcome {
  min-height: 200px !important;
  padding: 25px !important;
  background-repeat: no-repeat !important;
}
.ninjachat-ultra .ninjachat-welcome-box {
  margin-bottom: 10px !important;
}
.ninjachat-ultra .ninjachat-welcome-bg {
  background: #f7f7f7 !important;
  padding: 15px 20px !important;
  border-radius: 20px 20px 20px 0px !important;
}
.ninjachat-ultra .ninjachat-welcome-message {
  margin: 0px !important;
  align-items: center !important;
  display: flex !important;
  line-height: 1.5 !important;
  letter-spacing: 0.1px !important;
  font-weight: 400 !important;
}
.ninjachat-ultra .ninjachat-bg-img-section {
  padding: 25px !important;
  background-repeat: no-repeat !important;
  overflow: auto !important;
  max-height: 300px !important;
  background-size: cover;
}
.ninjachat-ultra .chat-body-height {
  min-height: 220px !important;
}
.ninjachat-ultra .body-scroll::-webkit-scrollbar {
  width: 5px !important;
}
.ninjachat-ultra .body-scroll::-webkit-scrollbar-thumb {
  background: #e0e0e0 !important;
  border-radius: 5px !important;
}
.ninjachat-ultra .body-scroll::-webkit-scrollbar-track {
  box-shadow: inset 20px 20px 20px #fff !important;
  border-radius: 0px !important;
}
.ninjachat-ultra .ninjachat-ultra-comment-section-replay {
  margin: 8px 0px !important;
}
.ninjachat-ultra .ninjachat-bg-reply-ultra {
  background: #eeeefe !important;
  width: fit-content !important;
  padding: 12px 20px !important;
  border-radius: 20px 20px 0px 20px !important;
  margin: 0 0 0 auto !important;
  color: #000 !important;
}
.ninjachat-ultra .margin-zero {
  margin: 0px !important;
  align-items: center !important;
  display: flex !important;
}
.ninjachat-ultra .margin-zero ul,
.ninjachat-ultra .margin-zero ol {
  padding-left: 10px !important;
}
.ninjachat-bubble .margin-zero a {
  color: #fff !important;
}
.ninjachat-ultra .ninjachat-small-2 {
  font-size: 9px !important;
  color: rgb(154 154 154 / 95%) !important;
  margin-top: 2px !important;
  margin-bottom: 8px !important;
}
.ninjachat-ultra .ninjachat-small-2 .vue-moments-ago {
  font-size: 9px !important;
}

.ninjachat-ultra .ninjachat-ultra-comment-section-replay .ninjachat-small-2 {
  text-align: right !important;
}
.ninjachat-ultra .ninjachat-bg-chat-ultra {
  background: #f7f7f7 !important;
  width: fit-content !important;
  padding: 12px 20px !important;
  border-radius: 20px 20px 20px 0px !important;
}
.ninjachat-ultra .ninjachat-avatar-flex {
  display: flex !important;
  align-items: center !important;
}
.ninjachat-ultra .align-self-end {
  align-self: flex-end !important;
  margin-right: 10px !important;
}
.ninjachat-ultra .rounded-avatar {
  border-radius: 50% !important;
}

.ninjachat-ultra .ninjachat-send-img {
  position: absolute !important;
  right: -30px !important;
  bottom: -22px !important;
  width: 20px !important;
  height: 22px !important;
  cursor: pointer !important;
}
.ninjachat-ultra .ninjachat-footer-500app {
  text-align: center !important;
  padding: 5px 16px !important;
  font-size: 9px !important;
  background-color: #f9fbfd !important;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  border-top: 1px solid #f6f6f9e0 !important;
}
.ninjachat-ultra .ninjachat-items-center {
  border-top: 1px solid rgb(238, 238, 238) !important;
  padding-top: 8px !important;
  margin: 11px 0px 0px !important;
}
.ninjachat-ultra .ninjachat-500app-link {
  margin-left: 5px !important;
  z-index: 2 !important;
  cursor: pointer !important;
  color: rgb(48, 71, 236) !important;
  text-decoration: none !important;
}
.ninjachat-ultra .ninjachat-footer-section {
  background-color: rgb(247, 247, 248) !important;
  padding: 15px 20px !important;
}
.ninjachat-ultra .ninjachat-footer-icons {
  position: relative !important;
  top: -5px !important;
  display: flex !important;
  align-items: center !important;
  width: 90% !important;
  height: 40px !important;
}
.ninjachat-ultra .converstion-min-height {
  min-height: 400px !important;
  overflow: auto !important;
  max-height: 300px !important;
}
.ninjachat-ultra .converstion-min-height .empty-state {
  padding: 30px !important;
  text-align: center !important;
}
.ninjachat-ultra .converstion-min-height .empty-state img {
  margin-bottom: 20px !important;
}
.ninjachat-ultra .datetime .vue-moments-ago {
  font-size: 9px !important;
  color: #95aac9 !important;
}
.ninjachat-ultra .heading-text {
  margin: 0px !important;
  cursor: pointer !important;
  font-size: 13px !important;
  line-height: 0.9 !important;
}
.ninjachat-ultra .convlist-img {
  width: 28px !important;
  height: 28px !important;
  border-radius: 50% !important;
  margin-right: 12px !important;
}
.ninjachat-ultra .convlist {
  display: flex !important;
  align-items: center !important;
}
.ninjachat-ultra .conv-border-bottom {
  border-bottom: 1px solid #f1f1f1 !important;
  padding: 15px 15px !important;
}
.ninjachat-ultra .heart-icon {
  margin-left: 5px !important;
  margin-top: 2px !important;
}
.ninjachat-ultra-comment-section-chat .margin-zero p {
  word-break: break-all !important;
}
.ninjachat-ultra .ninjachat-chat p span {
  background-color: transparent !important;
  line-height: 1 !important;
}
